Django==5.2.12
psycopg2-binary==2.9.11
gunicorn==25.2.0
Pillow==12.1.1
python-decouple==3.8
whitenoise==6.12.0
requests==2.33.0
beautifulsoup4==4.14.3
boto3==1.42.77
django-storages[s3]==1.14.4
polib==1.2.0

# Celery для кэширования и ускорения
celery==5.6.3
redis==7.4.0
django-celery-beat==2.9.0

# PDF генерация договоров
weasyprint==68.1
pydyf==0.12.1

# WebSocket / ASGI
channels==4.1.0
channels-redis==4.2.1
daphne==4.1.2
